code {
  padding: 2px;
}

table {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--medium-gray);
}

th {
  padding: 15px 0;
  width: 18%;
  text-align: left;
}

th:last-of-type {
  width: auto;
}

td {
  padding: 15px 0;
  text-align: left;
}

.optional {
  color: rgb(66, 66, 66);
  font-size: 0.85em;
}

.method {
  display: block;
  margin: 20px 0 8px 0;
  padding: 0;
  font-size: 1.25em;
  font-weight: 600;
}

.method-row {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--medium-gray);
}